html, body {
    height: 100vh;
  }
/* 
.single {
    position:relative;
    width:100vw;
    height: 100vh;
    margin: auto;
  }

  .element{
    position:absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    margin: auto;
    background: tomato;
    width: 100vw; height: 50vh;
  } */